form > * {
    width: 100%;
}

mat-card {
    min-width: 300px;
    padding: 30px;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}