<app-bar></app-bar>

<div class="create">
  <mat-card>
    <h2>Cadastrar Usuário</h2>
    <form #form="ngForm">
      <mat-form-field>
        <input matInput ngModel name="username" placeholder="Digite o usuário" type="text" />
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput ngModel name="password" placeholder="Digite sua senha" type="password" />
      </mat-form-field>
      <br/>
      <button mat-button mat-stroked-button color="primary" (click)="createUser(form)">Cadastrar</button>
    </form>
</mat-card>
</div>
