form > * {
    width: 100%;
}

mat-card {
    min-width: 300px;
    padding: 30px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sign-in-logo {
    width: 300px !important;
    margin-top: -2px !important;
    margin-right: 20px !important;
}