
<div class="login">
  <mat-card>
    <img src="../../../../assets/logo.jpeg" class="sign-in-logo" />
    <h2>Login</h2>
    <form #form="ngForm">
      <mat-form-field>
        <input matInput ngModel name="username" placeholder="Digite o usuário" type="text" />
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput ngModel name="password" placeholder="Digite sua senha" type="password" />
      </mat-form-field>
      <br/>
      <button mat-button mat-stroked-button color="primary" (click)="signIn(form)">Login</button>
    </form>
</mat-card>
</div>
