

mat-card {
    min-width: 700px;
    padding: 30px;
    margin-top: 20px;
}

mat-card h2 {
    align-content: center;
}

.company {
    display: flex;
    justify-content: center;
    height: 70%;
    width: 100%;
}