<app-bar></app-bar>



<div class="company">
  <mat-card>
      <h2>Cadastro de Empresas</h2>
      <form #form="ngForm">
        <mat-form-field>
          <input matInput ngModel name="name" placeholder="Digite a razão social" type="text" />
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput ngModel name="cnpj" placeholder="Digite o cnpj" type="text" />
        </mat-form-field>
        <br/>
        <mat-form-field>
            <input matInput ngModel placeholder="Digite o código da acessbilidade" name="accessibility_id" type="text" />
          </mat-form-field>
          <br/>
        <button mat-button (click)="createCompany(form)">Cadastrar</button>
      </form>
    </mat-card>
</div>