<mat-toolbar color="primary">
  <mat-toolbar-row>
      <a routerLink="/home"><img src="../../../../assets/logo.jpeg" id="title-bar" /></a>
      <button mat-button [matMenuTriggerFor]="empresas">Empresas</button>
      <mat-menu #empresas="matMenu">
        <a mat-flat-button routerLink="/company">Listar</a><br/>
        <a mat-flat-button routerLink="/company/create">Cadastrar</a>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="ambiente">Ambiente</button>
      <mat-menu #ambiente="matMenu">
          <a mat-flat-button routerLink="/accebility">Listar</a><br/>
          <a mat-flat-button routerLink="/accebility/create">Cadastrar</a>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="usuario">Usuário</button>
      <mat-menu #usuario="matMenu">
          <a mat-flat-button routerLink="/user">Listar</a><br/>
          <a mat-flat-button routerLink="/user/create">Cadastrar</a>
      </mat-menu>
  </mat-toolbar-row>
  
</mat-toolbar>
